{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap" rel="stylesheet">
  <title>콩들의 소리</title>
  <link rel="icon" href="../static/photo/GaBeanLogo.png" type="image/x-icon">
</head>
<body>

<div class="header">
  <div class="logo-and-menu">
    <a href="{% url 'GaBean:home' %}">
      <div class="logo">
        <img src="../static/photo/GaBean.png" alt="Your Logo">
      </div>
    </a>
    <div id="menu">
      <ul>
        <li>
          <a href="{% url 'GaBean:info_gabean' %}">GaBean이란?</a>
        </li>
        <li>
          <a href="{% url 'GaBean:campusmap' %}">캠퍼스맵</a>
          <ul>
            <li><a href="{% url 'GaBean:campusmap' %}">캠퍼스맵</a></li>
            <li><a href="{% url 'GaBean:campusmap_detail' %}">상세 정보</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'GaBean:humun_food' %}">후문</a>
          <ul>
            <li><a href="{% url 'GaBean:humun_food' %}">음식점</a></li>
            <li><a href="{% url 'GaBean:humun_random' %}">오늘 뭐 먹지?</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'GaBean:info_sugang' %}">학교 정보</a>
          <ul>
            <li><a href="{% url 'GaBean:info_sugang' %}">수강 정보</a></li>
            <li><a href="{% url 'GaBean:info_graduate' %}">졸업 정보</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'GaBean:info_bus' %}">교통</a>
          <ul>
            <li><a href="{% url 'GaBean:info_bus' %}">버스</a></li>
            <li><a href="{% url 'GaBean:info_subway' %}">지하철</a></li>
            <li><a href="{% url 'GaBean:info_shuttle' %}">셔틀버스</a></li>
          </ul>
        </li>
        <li style="background-color: skyblue; color: #FFF;">
          <a href="GaBean:sound_kong.html">콩들의 소리</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="page-title-img">
</div>
<div class="main-container">
  <div class="list-container">
    <div class="list-title">
      <h1><a href="{% url 'GaBean:sound_kong' %}">콩들의 소리</a></h1>
    </div>
  </div>
  <div class="content-container">
    <div class="left-container">
      <h1 style="text-decoration: skyblue wavy underline; font-family: 'Gaegu', cursive; font-size: 30pt;">상세 정보</h1>
      <h2>제목</h2>
      <h2 style="font-size: 15pt;">{{ post.title }}</h2>
      <p>작성일자: {{ post.pub_date|date:"Y년 m월 d일 H시 i분" }}</p>
      <h5>{{ post.content }}</h5>
      <br><br>
      <a type="button" onclick="goBack()" class="btn-gradient green small">이전으로 돌아가기</a>
    </div>
  </div>
</div>
<script>
  function goBack() {
      window.history.back();
  }
</script>
</body>
</html>