{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6M724Q9WN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y6M724Q9WN');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/mobile_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap" rel="stylesheet">
    <title>상세 정보</title>
    <link rel="icon" href="../../static/photo/GaBeanLogo.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<a href="{% url 'gabean_mobile:m_home' %}">
    <div class="logo">
        <img src="../../static/photo/GaBean.png" alt="Your Logo">
    </div>
</a>
<div id="menu-container">
    <div class="btn"></div>
    <div onclick="history.back();" class="page_cover"></div>
    <div id="menu">
        <ul class="nav">
            <li>
                <a href="{% url 'gabean_mobile:m_info_gabean' %}">GaBean이란?</a>
            </li>
            <li>
                <a>캠퍼스맵</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_campusmap' %}">캠퍼스맵</a></li>
                    <li><a href="{% url 'gabean_mobile:m_campusmap_detail' %}">상세 정보</a></li>
                </ul>
            </li>
            <li>
                <a>후문</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_humun_food' %}">음식점</a></li>
                    <li><a href="{% url 'gabean_mobile:m_humun_random' %}">오늘 뭐 먹지?</a></li>
                </ul>
            </li>
            <li>
                <a>학교 정보</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_sugang' %}">수강 정보</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_graduate' %}">졸업 정보</a></li>
		    <li><a href="{% url 'gabean_mobile:m_info_library' %}">도서관</a></li>
                </ul>
            </li>
            <li>
                <a>교통</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_bus' %}">버스</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_subway' %}">지하철</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_shuttle' %}">셔틀버스</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'gabean_mobile:m_sound_kong' %}">콩들의 소리</a>
            </li>
        </ul>
        <div onclick="history.back();" class="close">
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $(".btn").click(function() {
      $("#menu,.page_cover,html").addClass("open");
      window.location.hash = "#open";
    })
    })

    window.onhashchange = function() {
      if (location.hash != "#open") {
        $("#menu,.page_cover,html").removeClass("open");
      }
    };

    $(document).ready(function(){
    $("#menu ul.sub_mobile").hide();
    $("#menu ul.nav li").click(function(){
    $("ul",this).slideToggle("fast");
    })
    })
</script>
<button class="fixed-button" id="openSlider"></button>

<!-- 슬라이드인 메뉴 -->
<div class="slider-menu">
    <div class="slider-content">
        ID : 학번 / PW : SU-WINGs PW
        <br>(즉, SU-WINGs 로그인과 방식이 같다)
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // 버튼 엘리먼트 가져오기
        var fixedButton = document.querySelector('.fixed-button');

        // 스크롤 이벤트 리스너 등록
        window.addEventListener('scroll', function() {
            // 스크롤 위치 가져오기
            var scrollY = window.scrollY;
            // 원하는 스크롤 위치 이상이면 버튼 위치 변경
            if (scrollY > 200) { // 원하는 스크롤 위치로 수정
               fixedButton.style.bottom = '100px'; // 원하는 위치로 조절 가능
            } else {
                fixedButton.style.bottom = '100px'; // 다시 초기 위치로 조절 가능
            }
        });

        // 초기 버튼 위치 설정
        fixedButton.style.bottom = '100px';
        fixedButton.style.right = '0%';
    });

    var imageButton = document.getElementById('openSlider');

    // 클릭 이벤트 리스너 등록
    imageButton.addEventListener('click', function() {
        // 클릭 시 이미지 변경
        imageButton.classList.toggle('clicked');
    });
</script>
<script>
    // 슬라이드인 메뉴 열기/닫기
    var openSliderButton = document.getElementById('openSlider');
    var sliderMenu = document.querySelector('.slider-menu');

    sliderMenu.style.bottom = '100px';

    openSliderButton.addEventListener('click', function() {
        if (sliderMenu.style.right === '-350px' || sliderMenu.style.right === '') {
            sliderMenu.style.right = '60px';
        } else {
            sliderMenu.style.right = '-350px';
        }
    });
</script>
<div class="news-button-container">
    <button id="newsButton" class="newsButton">인권<br>뉴스</button>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var newsButton = document.getElementById('newsButton');

        // 초기 버튼 위치 설정
        newsButton.style.bottom = '170px';
        newsButton.style.right = '0px';

        newsButton.addEventListener('click', function() {
			window.location.href = "{% url 'gabean_mobile:m_news' %}";
        });
    });
</script>
<div class="page-title-img">
</div>
<div class="list-title">
    <h1><a href="{% url 'gabean_mobile:m_campusmap_detail' %}">상세 정보</a></h1>
</div>
<div class="list-container" >
    <ul>
        <h3>목록</h3>
        <li><a href="{% url 'gabean_mobile:m_campusmap' %}">캠퍼스맵</a></li>
        <li><a href="{% url 'gabean_mobile:m_campusmap_detail' %}">상세 정보</a></li>
    </ul>
</div>
<div class="main-container">
    <div class="content-container">
        <div class="main-container">
            <div class="info-bus">
                <div class="direction" style="width: 310px;">
                    <h1 style="text-decoration: skyblue wavy underline; font-family: 'Noto Sans KR', sans-serif; font-size: 20pt;">학생들이 많이 찾는 것!</h1>
                    <h3 style="font-size: 13pt;">1. 장근청홀</h3>
                    <a>- 백주년 기념관 3층</a>
                    <h3 style="font-size: 13pt;">2. 다목적관(=보건복지교육관)</h3>
                    <a>- 만나의집, 기숙사 사이 건물 1층짜리</a>
                    <h3 style="font-size: 13pt;">3. 홍명기홀</h3>
                    <a>- 다니엘관 지하 1층</a>
                    <h3 style="font-size: 13pt;">4. 프린트는 도서관 or 바울관 지하 현대문구 추천</h3>
                    <h3 style="font-size: 13pt;">5. 바울관 1층에서 각종 증명서 무인으로 발급 가능!</h3>
                    <h3 style="font-size: 13pt;">6. 보조배터리는 배터리몬 어플 깔아서 다니엘관 1층, 바울관 1층, 엠카페 쪽에서 대여 및 반납 가능함.</h3>
                    <a>- 학생회비 납부한 사람은 납부 확인(수윙스 납부확인서) 안경점 옆 학생회실에서 무료 대여 가능함!</a>
                    <h3 style="font-size: 13pt;">7. 교내 가게 + 후문 일부 가게에서 수페이 사용 가능 (ex. 스마일하우 등)</h3>
                    <h3 style="font-size: 13pt;">8. 후문 gs25, 후문 CU는 24시 영업</h3>
                    <a>- 방학 기간 단축영업 : 00-06시 미영업</a>
                    <br><br><br>
		    <a style="float: right; font-size:10pt;">모든 정보는 23년도 기준이며<br> 추가로 제보할 내용이 있으면&nbsp;</a><br><br><a style="float: right; font-size:10pt;">에 제보 바랍니다.</a><a style="color: black; text-decoration: black underline; float: right; font-size:11pt;">콩들의 소리</a>
                    <a href="https://everytime.kr/384376/v/296575382" style="float: right; font-size:10pt; text-decoration: black underline;" target="_blank">https://everytime.kr/384376/v/296575382</a><a style="float: right; font-size:10pt;">출처 :&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="https://www.kogl.or.kr/info/license.do" target="_blank"><img src="../../static/photo/copyright.jpeg" alt="CopyRight" style="float: right; width: 5%;"></a>
    <a href="https://ccl.cckorea.org/about/" target="_blank"><img src="../../static/photo/copyright2.png" alt="CopyRight2" style="float: right; width: 5%;"></a>
    <p style="margin-left: 20px; font-size: 8pt;">Copyright © 2023 양이찬 All rights reserved.
        <br>Dev : Ee Chan Yang
        <br>Logo : Jun Seong Park
        <br>Other Website Dev : Sang Yoon Kim</p>
    <a href="https://www.flaticon.com/kr/free-icons/" title="맑은 아이콘" style="float: right; margin-right: 10px; color: white; font-size: 8pt;">맑은 아이콘  제작자: Freepik - Flaticon</a>
</div>
</body>
</html>
