{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6M724Q9WN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y6M724Q9WN');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/mobile_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap" rel="stylesheet">
    <title>셔틀버스</title>
    <link rel="icon" href="../../static/photo/GaBeanLogo.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<a href="{% url 'gabean_mobile:m_home' %}">
    <div class="logo">
        <img src="../../static/photo/GaBean.png" alt="Your Logo">
    </div>
</a>
<div id="menu-container">
    <div class="btn"></div>
    <div onclick="history.back();" class="page_cover"></div>
    <div id="menu">
        <ul class="nav">
            <li>
                <a href="{% url 'gabean_mobile:m_info_gabean' %}">GaBean이란?</a>
            </li>
            <li>
                <a>캠퍼스맵</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_campusmap' %}">캠퍼스맵</a></li>
                    <li><a href="{% url 'gabean_mobile:m_campusmap_detail' %}">상세 정보</a></li>
                </ul>
            </li>
            <li>
                <a>후문</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_humun_food' %}">음식점</a></li>
                    <li><a href="{% url 'gabean_mobile:m_humun_random' %}">오늘 뭐 먹지?</a></li>
                </ul>
            </li>
            <li>
                <a>학교 정보</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_sugang' %}">수강 정보</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_graduate' %}">졸업 정보</a></li>
		    <li><a href="{% url 'gabean_mobile:m_info_library' %}">도서관</a></li>
                </ul>
            </li>
            <li>
                <a>교통</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_bus' %}">버스</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_subway' %}">지하철</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_shuttle' %}">셔틀버스</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'gabean_mobile:m_sound_kong' %}">콩들의 소리</a>
            </li>
        </ul>
        <div onclick="history.back();" class="close">
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $(".btn").click(function() {
      $("#menu,.page_cover,html").addClass("open");
      window.location.hash = "#open";
    })
    })

    window.onhashchange = function() {
      if (location.hash != "#open") {
        $("#menu,.page_cover,html").removeClass("open");
      }
    };

    $(document).ready(function(){
    $("#menu ul.sub_mobile").hide();
    $("#menu ul.nav li").click(function(){
    $("ul",this).slideToggle("fast");
    })
    })
</script>
<button class="fixed-button" id="openSlider"></button>

<!-- 슬라이드인 메뉴 -->
<div class="slider-menu">
    <div class="slider-content">
        ID : 학번 / PW : SU-WINGs PW
        <br>(즉, SU-WINGs 로그인과 방식이 같다)
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // 버튼 엘리먼트 가져오기
        var fixedButton = document.querySelector('.fixed-button');

        // 스크롤 이벤트 리스너 등록
        window.addEventListener('scroll', function() {
            // 스크롤 위치 가져오기
            var scrollY = window.scrollY;
            // 원하는 스크롤 위치 이상이면 버튼 위치 변경
            if (scrollY > 200) { // 원하는 스크롤 위치로 수정
               fixedButton.style.bottom = '100px'; // 원하는 위치로 조절 가능
            } else {
                fixedButton.style.bottom = '100px'; // 다시 초기 위치로 조절 가능
            }
        });

        // 초기 버튼 위치 설정
        fixedButton.style.bottom = '100px';
        fixedButton.style.right = '0%';
    });

    var imageButton = document.getElementById('openSlider');

    // 클릭 이벤트 리스너 등록
    imageButton.addEventListener('click', function() {
        // 클릭 시 이미지 변경
        imageButton.classList.toggle('clicked');
    });
</script>
<script>
    // 슬라이드인 메뉴 열기/닫기
    var openSliderButton = document.getElementById('openSlider');
    var sliderMenu = document.querySelector('.slider-menu');

    sliderMenu.style.bottom = '100px';

    openSliderButton.addEventListener('click', function() {
        if (sliderMenu.style.right === '-350px' || sliderMenu.style.right === '') {
            sliderMenu.style.right = '60px';
        } else {
            sliderMenu.style.right = '-350px';
        }
    });
</script>
<div class="news-button-container">
	<button id="newsButton" class="newsButton" style="font-size: 15px;">SYU<br>뉴스</button>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var newsButton = document.getElementById('newsButton');

        // 초기 버튼 위치 설정
        newsButton.style.bottom = '35px';
        newsButton.style.right = '0px';

        newsButton.addEventListener('click', function() {
            window.location.href = "{% url 'gabean_mobile:m_news' %}";
        });
    });
</script>
<div class="page-title-img">
</div>
<div class="list-title">
    <h1><a href="{% url 'gabean_mobile:m_info_shuttle' %}">셔틀버스</a></h1>
</div>
<div class="list-container">
    <ul>
        <h3>목록</h3>
        <li><a href="{% url 'gabean_mobile:m_info_bus' %}">버스</a></li>
        <li><a href="{% url 'gabean_mobile:m_info_subway' %}">지하철</a></li>
        <li><a href="{% url 'gabean_mobile:m_info_shuttle' %}">셔틀 버스</a></li>
    </ul>
</div>
<div class="main-container">
    <div class="content-container">
        <div class="direction" style="width: 310px;">
	    <h1 style="background-color: rgba(6, 186, 242, 0.23); font-family: 'Noto Sans KR', sans-serif; font-size: 20pt;">
                {% if is_special_period %}
                계절학기 셔틀 시간표
		{% elif is_vacation_period %}
                방학 셔틀 시간표
                {% else %}
                셔틀 시간표
                {% endif %}
            </h1>
            <div class="shuttle-info-container">
                <div class="left-info" style="font-size: 11pt;">
                    <h1>학교 방향</h1>
                    <ul id="left-column" style="font-size: 10pt; list-style:none;">
                        {% for shuttle, time in left_info.items %}
                        <li>
                            <h2 style="text-decoration: skyblue wavy underline;" id="{{ shuttle|slugify }}">{{ shuttle }}</h2>
                            <h3><span id="{{ shuttle|slugify }}-time">{{ time }}</span></h3>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="right-info" style="font-size: 11pt;">
                    <h1>나가는 방향</h1>
                    <ul id="right-column" style="font-size: 10pt; list-style:none;">
                        {% for shuttle, time in right_info.items %}
                        <li>
                            <h2 style="text-decoration: skyblue wavy underline;" id="{{ shuttle|slugify }}">{{ shuttle }}</h2>
                            <h3><span id="{{ shuttle|slugify }}-time">{{ time }}</span></h3>
                        </li>
                        {% endfor %}
                        <p style="float: right; font-size: 11pt;">모든 남은 시간은 시간표 기준입니다.</p>
                    </ul>
                </div>
            </div>
            <div class="button-2-container">
                <div class="button-2">
                    <div class="eff-2"></div>
                    <a href="https://bus.syu.kr/" target="_blank"> 셔틀버스 현위치 </a>
                </div>
                <div class="button-2">
                <div class="eff-2"></div>
                <a href="https://bus.syu.kr/monitor" target="_blank"> 셔틀버스 시간표 </a>
            </div>
        </div>
        <p style="float: right; font-size: 8pt;">해당 웹 개발자: 김상윤</p>
        </div>
    </div>
</div>
<script>
    function updateRemainingTimes() {
        {% for shuttle, time in left_info.items %}
            var leftTimeLeft = document.getElementById("{{ shuttle|slugify }}-time");
            var leftMinutesLeft = leftTimeLeft.textContent;

            {% if shuttle in left_info %}
                var shuttleInfo = left_info["{{ shuttle }}"];
                if (leftMinutesLeft !== "운행 종료") {
                    var currentTime = new Date();
                    var nextDepartureTime = new Date("{{ shuttleInfo|default:'1970-01-01T00:00:00Z' }}");

                    var timeDifference = nextDepartureTime - currentTime;
                    var remainingMinutes = Math.floor(timeDifference / (1000 * 60));  // milliseconds to minutes

                    if (remainingMinutes < 0) {
                        leftMinutesLeft = "운행 종료";
                    } else {
                        leftMinutesLeft = remainingMinutes + " 분 남았습니다.";
                    }

                    leftTimeLeft.innerText = leftMinutesLeft;
                }
            {% endif %}
        {% endfor %}

        {% for shuttle, time in right_info.items %}
            var rightTimeRight = document.getElementById("{{ shuttle|slugify }}-time");
            var rightMinutesRight = rightTimeRight.textContent;

            {% if shuttle in right_info %}
                var shuttleInfo = right_info["{{ shuttle }}"];
                if (rightMinutesRight !== "운행 종료") {
                    var currentTime = new Date();
                    var nextDepartureTime = new Date("{{ shuttleInfo|default:'1970-01-01T00:00:00Z' }}");

                    var timeDifference = nextDepartureTime - currentTime;
                    var remainingMinutes = Math.floor(timeDifference / (1000 * 60));  // milliseconds to minutes

                    if (remainingMinutes < 0) {
                        rightMinutesRight = "운행 종료";
                    } else {
                        rightMinutesRight = remainingMinutes + " 분 남았습니다.";
                    }

                    rightTimeRight.innerText = rightMinutesRight;
                }
            {% endif %}
        {% endfor %}
    }

    // 페이지 로딩 후 1초마다 updateRemainingTimes 함수 호출
    setInterval(updateRemainingTimes, 1000);
</script>
<div class="footer">
    <a href="https://www.kogl.or.kr/info/license.do" target="_blank"><img src="../../static/photo/copyright.jpeg" alt="CopyRight" style="float: right; width: 5%;"></a>
    <a href="https://ccl.cckorea.org/about/" target="_blank"><img src="../../static/photo/copyright2.png" alt="CopyRight2" style="float: right; width: 5%;"></a>
    <p style="margin-left: 20px; font-size: 8pt;">Copyright © 2023 양이찬 All rights reserved.
        <br>Dev : Ee Chan Yang
        <br>Logo : Jun Seong Park
        <br>Other Website Dev : Sang Yoon Kim</p>
    <a href="https://www.flaticon.com/kr/free-icons/" title="맑은 아이콘" style="float: right; margin-right: 10px; color: white; font-size: 8pt;">맑은 아이콘  제작자: Freepik - Flaticon</a>
</div>
</body>
</html>
