{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6M724Q9WN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y6M724Q9WN');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/mobile_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap" rel="stylesheet">
    <title>GaBean이란?</title>
    <link rel="icon" href="../../static/photo/GaBeanLogo.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<a href="{% url 'gabean_mobile:m_home' %}">
    <div class="logo">
        <img src="../../static/photo/GaBean.png" alt="Your Logo">
    </div>
</a>
<div id="menu-container">
    <div class="btn"></div>
    <div onclick="history.back();" class="page_cover"></div>
    <div id="menu">
        <ul class="nav">
            <li>
                <a href="{% url 'gabean_mobile:m_info_gabean' %}">GaBean이란?</a>
            </li>
            <li>
                <a>캠퍼스맵</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_campusmap' %}">캠퍼스맵</a></li>
                    <li><a href="{% url 'gabean_mobile:m_campusmap_detail' %}">상세 정보</a></li>
                </ul>
            </li>
            <li>
                <a>후문</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_humun_food' %}">음식점</a></li>
                    <li><a href="{% url 'gabean_mobile:m_humun_random' %}">오늘 뭐 먹지?</a></li>
                </ul>
            </li>
            <li>
                <a>학교 정보</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_sugang' %}">수강 정보</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_graduate' %}">졸업 정보</a></li>
		    <li><a href="{% url 'gabean_mobile:m_info_library' %}">도서관</a></li>
                </ul>
            </li>
            <li>
                <a>교통</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_bus' %}">버스</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_subway' %}">지하철</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_shuttle' %}">셔틀버스</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'gabean_mobile:m_sound_kong' %}">콩들의 소리</a>
            </li>
        </ul>
        <div onclick="history.back();" class="close">
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $(".btn").click(function() {
      $("#menu,.page_cover,html").addClass("open");
      window.location.hash = "#open";
    })
    })

    window.onhashchange = function() {
      if (location.hash != "#open") {
        $("#menu,.page_cover,html").removeClass("open");
      }
    };

    $(document).ready(function(){
    $("#menu ul.sub_mobile").hide();
    $("#menu ul.nav li").click(function(){
    $("ul",this).slideToggle("fast");
    })
    })
</script>
<button class="fixed-button" id="openSlider"></button>

<!-- 슬라이드인 메뉴 -->
<div class="slider-menu">
    <div class="slider-content">
        ID : 학번 / PW : SU-WINGs PW
        <br>(즉, SU-WINGs 로그인과 방식이 같다)
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // 버튼 엘리먼트 가져오기
        var fixedButton = document.querySelector('.fixed-button');

        // 스크롤 이벤트 리스너 등록
        window.addEventListener('scroll', function() {
            // 스크롤 위치 가져오기
            var scrollY = window.scrollY;
            // 원하는 스크롤 위치 이상이면 버튼 위치 변경
            if (scrollY > 200) { // 원하는 스크롤 위치로 수정
               fixedButton.style.bottom = '100px'; // 원하는 위치로 조절 가능
            } else {
                fixedButton.style.bottom = '100px'; // 다시 초기 위치로 조절 가능
            }
        });

        // 초기 버튼 위치 설정
        fixedButton.style.bottom = '100px';
        fixedButton.style.right = '0%';
    });

    var imageButton = document.getElementById('openSlider');

    // 클릭 이벤트 리스너 등록
    imageButton.addEventListener('click', function() {
        // 클릭 시 이미지 변경
        imageButton.classList.toggle('clicked');
    });
</script>
<script>
    // 슬라이드인 메뉴 열기/닫기
    var openSliderButton = document.getElementById('openSlider');
    var sliderMenu = document.querySelector('.slider-menu');

    sliderMenu.style.bottom = '100px';

    openSliderButton.addEventListener('click', function() {
        if (sliderMenu.style.right === '-350px' || sliderMenu.style.right === '') {
            sliderMenu.style.right = '60px';
        } else {
            sliderMenu.style.right = '-350px';
        }
    });
</script>
<div class="news-button-container">
    <button id="newsButton" class="newsButton">인권<br>뉴스</button>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var newsButton = document.getElementById('newsButton');

        // 초기 버튼 위치 설정
        newsButton.style.bottom = '170px';
        newsButton.style.right = '0px';

        newsButton.addEventListener('click', function() {
			window.location.href = "{% url 'gabean_mobile:m_news' %}";
        });
    });
</script>
<div class="page-title-img" style="overflow: hidden;">
</div>
<div class="list-title">
    <h1><a href="{% url 'GaBean:info_gabean' %}" style="font-size: 30pt;">Gabean이란?</a></h1>
</div>
<div class="main-container">
    <div class="content-container" style="display: flex; flex-direction: column;">
        <div class="main-container">
            <div class="info-bus">
                <div class="direction">
                    <br><br>
                    <img src="../../static/photo/GaBean.png" alt="GaBeanLogo" style="max-width: 40%; margin-bottom:20px;">
                    <br>
                    <a style="font-size:10pt;">로고 제작자: 박준성(아트&디자인학과)</a>
                    <h1 style="font-family: 'Noto Sans KR', sans-serif; font-size: 23pt;">Guide For Bean</h1>
                    <h3 style="text-decoration: skyblue wavy underline;">Guide</h3>
                    <a>안내하다</a>
                    <h3 style="text-decoration: skyblue wavy underline;">Bean</h3>
		    <a>콩</a><br><a>- 삼육대에서는 학생들 사이에서  <br>신입생들을 "콩"으로 표현함</a>
                    <br><br>
		    <h3> * 신입생들을 안내하기 위한 <br>페이지를 개설</h3>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="info-bus">
                <div class="direction">
		    <h1 style="font-family: 'Noto Sans KR', sans-serif; font-size: 23pt;">주요 기능</h1>
		    <br>
                    <h3 style="color: black; text-decoration: black underline;">캠퍼스맵</h3>
                    <a>신입생들이 잘 모르는 학교 건물들의 <br>세세한 위치를 제공하는 기능<br>(전체화면으로 보는 것을 권장)</a><br>
                    <h3 style="color: black; text-decoration: black underline;">후문</h3>
                    <a>후문 음식점을 가게별로 필터링 기능 <br>현재 영업중인 가게도 확인 가능</a><br>
                    <h3 style="color: black; text-decoration: black underline;">오늘 뭐 먹지?</h3>
                    <a>후문 음식점들 중 무엇을 먹어야할지 <br>선택하기 어려운 사람을 위한 기능</a><br>
                    <h3 style="color: black; text-decoration: black underline;">학교 정보</h3>
                    <a>수강, 졸업 정보 등 신입생이 잘 모를 수 있는 내용들을 간략하게 제공하는 기능</a><br>
                    <h3 style="color: black; text-decoration: black underline;">교통</h3>
		    <a>버스, 지하철, 셔틀버스 등 <br>각 교통수단을 확인 가능하도록 제공 (현재 시간 기준)</a>
                    <h3 style="color: black; text-decoration: black underline;">콩들의 소리</h3>
		    <a>개선해야할 점 등을 사용자가 직접 <br>남길 수 있도록 제공<br>(수정, 삭제가 불가능하니 신중하게 작성 요망)</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="https://www.kogl.or.kr/info/license.do" target="_blank"><img src="../../static/photo/copyright.jpeg" alt="CopyRight" style="float: right; width: 5%;"></a>
    <a href="https://ccl.cckorea.org/about/" target="_blank"><img src="../../static/photo/copyright2.png" alt="CopyRight2" style="float: right; width: 5%;"></a>
    <p style="margin-left: 20px; font-size: 8px;">Copyright © 2023 양이찬 All rights reserved.
        <br>Dev : Ee Chan Yang
        <br>Logo : Jun Seong Park
        <br>Other Website Dev : Sang Yoon Kim</p>
    <a href="https://www.flaticon.com/kr/free-icons/" title="맑은 아이콘" style="float: right; margin-right: 10px; color: white; font-size: 8pt;">맑은 아이콘  제작자: Freepik - Flaticon</a>
</div>
</body>
</html>
