{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" type="text/css" href="../../static/mobile_styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap" rel="stylesheet">
    <title>SYU 뉴스</title>
    <link rel="icon" href="../../static/photo/GaBeanLogo.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("h4").each(function(){
                var option = new Option($(this).text(), $(this).text());
                $(option).html($(this).text());
                $("#collegeSelect").append(option);
            });

            $("#collegeSelect").change(function(){
                var selectedCollege = $(this).val();
                $("li").hide(); // 모든 li 태그를 숨깁니다.
                $("h4:contains('" + selectedCollege + "')").parent().show(); // 선택된 대학의 li 태그만 보여줍니다.
            });
        });
    </script>
</head>
<body>
<a href="{% url 'gabean_mobile:m_home' %}">
    <div class="logo">
        <img src="../../static/photo/GaBean.png" alt="Your Logo">
    </div>
</a>
<div id="menu-container">
    <div class="btn"></div>
    <div onclick="history.back();" class="page_cover"></div>
    <div id="menu">
        <ul class="nav">
            <li>
                <a href="{% url 'gabean_mobile:m_info_gabean' %}">GaBean이란?</a>
            </li>
            <li>
                <a>캠퍼스맵</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_campusmap' %}">캠퍼스맵</a></li>
                    <li><a href="{% url 'gabean_mobile:m_campusmap_detail' %}">상세 정보</a></li>
                </ul>
            </li>
            <li>
                <a>후문</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_humun_food' %}">음식점</a></li>
                    <li><a href="{% url 'gabean_mobile:m_humun_random' %}">오늘 뭐 먹지?</a></li>
                </ul>
            </li>
            <li>
                <a>학교 정보</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_sugang' %}">수강 정보</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_graduate' %}">졸업 정보</a></li>
		    <li><a href="{% url 'gabean_mobile:m_info_library' %}">도서관</a></li>
                </ul>
            </li>
            <li>
                <a>교통</a>
                <ul class="sub_mobile">
                    <li><a href="{% url 'gabean_mobile:m_info_bus' %}">버스</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_subway' %}">지하철</a></li>
                    <li><a href="{% url 'gabean_mobile:m_info_shuttle' %}">셔틀버스</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'gabean_mobile:m_sound_kong' %}">콩들의 소리</a>
            </li>
        </ul>
        <div onclick="history.back();" class="close">
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $(".btn").click(function() {
      $("#menu,.page_cover,html").addClass("open");
      window.location.hash = "#open";
    })
    })

    window.onhashchange = function() {
      if (location.hash != "#open") {
        $("#menu,.page_cover,html").removeClass("open");
      }
    };

    $(document).ready(function(){
    $("#menu ul.sub_mobile").hide();
    $("#menu ul.nav li").click(function(){
    $("ul",this).slideToggle("fast");
    })
    })
</script>
<button class="fixed-button" id="openSlider"></button>

<!-- 슬라이드인 메뉴 -->
<div class="slider-menu">
    <div class="slider-content">
        ID : 학번 / PW : SU-WINGs PW
        <br>(즉, SU-WINGs 로그인과 방식이 같다)
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // 버튼 엘리먼트 가져오기
        var fixedButton = document.querySelector('.fixed-button');

        // 스크롤 이벤트 리스너 등록
        window.addEventListener('scroll', function() {
            // 스크롤 위치 가져오기
            var scrollY = window.scrollY;
            // 원하는 스크롤 위치 이상이면 버튼 위치 변경
            if (scrollY > 200) { // 원하는 스크롤 위치로 수정
               fixedButton.style.bottom = '100px'; // 원하는 위치로 조절 가능
            } else {
                fixedButton.style.bottom = '100px'; // 다시 초기 위치로 조절 가능
            }
        });

        // 초기 버튼 위치 설정
        fixedButton.style.bottom = '100px';
        fixedButton.style.right = '0%';
    });

    var imageButton = document.getElementById('openSlider');

    // 클릭 이벤트 리스너 등록
    imageButton.addEventListener('click', function() {
        // 클릭 시 이미지 변경
        imageButton.classList.toggle('clicked');
    });
</script>
<script>
    // 슬라이드인 메뉴 열기/닫기
    var openSliderButton = document.getElementById('openSlider');
    var sliderMenu = document.querySelector('.slider-menu');

    sliderMenu.style.bottom = '100px';

    openSliderButton.addEventListener('click', function() {
        if (sliderMenu.style.right === '-350px' || sliderMenu.style.right === '') {
            sliderMenu.style.right = '60px';
        } else {
            sliderMenu.style.right = '-350px';
        }
    });
</script>
<div class="news-button-container">
	<button id="newsButton" class="newsButton" style="font-size: 15px;">SYU<br>뉴스</button>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var newsButton = document.getElementById('newsButton');

        // 초기 버튼 위치 설정
        newsButton.style.bottom = '35px';
        newsButton.style.right = '0px';

        newsButton.addEventListener('click', function() {
            window.location.href = "{% url 'gabean_mobile:m_news' %}";
        });
    });
</script>
<div class="page-title-img">
</div>
<div class="list-title">
    <h1><a href="{% url 'gabean_mobile:m_news' %}">SYU 뉴스</a></h1>
</div>
<div class="main-container">
    <div class="content-container">
        <div class="main-container">
            <div class="info-bus">
                <div class="direction">

			<h1 style="text-align: center;">Keyword</h1>
			<a style="font-size: 11pt;">키워드 하나당 10개씩 최신/관련순 으로 정렬됩니다.</a>

			<br><br>

                    <!-- 검색어 버튼 -->
                    <h3>- 삼육대학교 이슈</h3>
                    <ul>
                        <li>
                            <a href="?query=삼육대학교"><button class="filter-button" style="margin-top: 20px;">삼육대학교</button></a>
                            <a href="?query=삼육대학교 신설"><button class="filter-button" style="margin-top: 20px;">삼육대학교 신설</button></a>
                            <a href="?query=삼육대학교 수시등급"><button class="filter-button" style="margin-top: 20px;">삼육대학교 수시등급</button></a>
                            <a href="?query=삼육대학교 정시등급"><button class="filter-button" style="margin-top: 20px;">삼육대학교 정시등급</button></a>
                        </li>
                    </ul>
                    <br>
                    <h3>- 단과별 실시간 이슈</h3>
                    <select id="collegeSelect" style="margin-left: 3%">
                        <option>단과를 선택하세요</option>
                    </select>
                    <ul>
                        <li>
                            <h4>📚 인문사회대학</h4>
                            <a href="?query=영어영문학과"><button class="filter-button" style="margin-top: 20px;">영어영문학과</button></a>
                            <a href="?query=중국어학과"><button class="filter-button" style="margin-top: 20px;">중국어학과</button></a>
                            <a href="?query=일본어학과"><button class="filter-button" style="margin-top: 20px;">일본어학과</button></a>
                            <a href="?query=경영학과"><button class="filter-button" style="margin-top: 20px;">경영학과</button></a>
                            <a href="?query=경영정보학과"><button class="filter-button" style="margin-top: 20px;">경영정보학과</button></a>
                            <a href="?query=유아교육과"><button class="filter-button" style="margin-top: 20px;">유아교육과</button></a>
                            <a href="?query=글로벌한국학과"><button class="filter-button" style="margin-top: 20px;">글로벌한국학과</button></a>
                            <a href="?query=항공관광외국어학부"><button class="filter-button" style="margin-top: 20px;">항공관광외국어학부</button></a>
                            <!-- 여기에 다른 버튼들을 추가하세요 -->
                        </li>
                        <br>
                        <li>
                            <h4>🚑 보건복지대학</h4>
                            <a href="?query=물리치료학과"><button class="filter-button" style="margin-top: 20px;">물리치료학과</button></a>
                            <a href="?query=식품영양학과"><button class="filter-button" style="margin-top: 20px;">식품영양학과</button></a>
                            <a href="?query=사회복지학과"><button class="filter-button" style="margin-top: 20px;">사회복지학과</button></a>
                            <a href="?query=보건관리학과"><button class="filter-button" style="margin-top: 20px;">보건관리학과</button></a>
                            <a href="?query=상담심리학과"><button class="filter-button" style="margin-top: 20px;">상담심리학과</button></a>
                            <a href="?query=생활체육학과"><button class="filter-button" style="margin-top: 20px;">생활체육학과</button></a>
                            <!-- 여기에 다른 버튼들을 추가하세요 -->
                        </li>
                        <br>
                        <li>
                            <h4>💻 미래융합대학</h4>
                            <a href="?query=컴퓨터공학부"><button class="filter-button" style="margin-top: 20px;">컴퓨터공학부</button></a>
                            <a href="?query=IT융합공학과"><button class="filter-button" style="margin-top: 20px;">IT융합공학과</button></a>
                            <a href="?query=인공지능융합학부"><button class="filter-button" style="margin-top: 20px;">인공지능융합학부</button></a>
                            <!-- 여기에 다른 버튼들을 추가하세요 -->
                        </li>
                        <br>
                        <li>
                            <h4>🔬 과학기술대학</h4>
                            <a href="?query=화학생명과학과"><button class="filter-button" style="margin-top: 20px;">화학생명과학과</button></a>
                            <a href="?query=환경디자인원예학과"><button class="filter-button" style="margin-top: 20px;">환경디자인원예학과</button></a>
                            <a href="?query=동물자원과학과"><button class="filter-button" style="margin-top: 20px;">동물자원과학과</button></a>
                            <a href="?query=바이오융합공학과"><button class="filter-button" style="margin-top: 20px;">바이오융합공학과</button></a>
                            <!-- 추가 검색어를 넣고 싶다면 위와 같은 형식으로 더 추가하면 됩니다. -->
                        </li>
                        <br>
                        <li>
                            <h4>💊 약학/간호대학</h4>
                            <a href="?query=약학과"><button class="filter-button" style="margin-top: 20px;">약학과</button></a>
                            <a href="?query=간호학과"><button class="filter-button" style="margin-top: 20px;">간호학과</button></a>
                            <!-- 추가 검색어를 넣고 싶다면 위와 같은 형식으로 더 추가하면 됩니다. -->
                        </li>
                        <br>
                        <li>
                            <h4>🎨 문화예술대학</h4>
                            <a href="?query=건축학과"><button class="filter-button" style="margin-top: 20px;">건축학과</button></a>
                            <a href="?query=음악학과"><button class="filter-button" style="margin-top: 20px;">음악학과</button></a>
                            <a href="?query=아트앤디자인학과"><button class="filter-button" style="margin-top: 20px;">아트앤디자인학과</button></a>
                            <!-- 추가 검색어를 넣고 싶다면 위와 같은 형식으로 더 추가하면 됩니다. -->
                        </li>
                    </ul>
                    <br><br>
                    <hr>
                    <h1>Result</h1>
                    {% if query == "" %}
                    {% else %}
                    <h2 style="margin-bottom: 40px;">검색어: "{{ query }}"</h2>
                    {% endif %}
                    {% if news %}
                    <ul>
                        {% for item in news %}
                        <li>
                            <a href="{{ item.link }}" target="_blank"><h3>◼ {{ item.title|safe }}</h3></a>
                            <p>📆 {{ item.pubDate }}</p>
                            <p style="border-bottom: 2px solid #ddd; padding: 8px;">▪ {{ item.description|safe }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h2 style="margin-top: 50px;">검색어를 클릭하세요</h2>
                    {% endif %}
                    <a style="float: right; font-size:10pt;">모든 내용은 네이버 뉴스에서 최신 / 관련순으로 가져왔습니다.</a><br>
                    <a href="https://news.naver.com/" style="color: black; text-decoration: black underline; float: right; font-size:11pt;" target="_blank">네이버 뉴스</a><a style="float: right; font-size:10pt;">출처:&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="https://www.kogl.or.kr/info/license.do" target="_blank"><img src="../../static/photo/copyright.jpeg" alt="CopyRight" style="float: right; width: 5%;"></a>
    <a href="https://ccl.cckorea.org/about/" target="_blank"><img src="../../static/photo/copyright2.png" alt="CopyRight2" style="float: right; width: 5%;"></a>
    <p style="margin-left: 20px; font-size: 8pt;">Copyright © 2023 양이찬 All rights reserved.
        <br>Dev : Ee Chan Yang
        <br>Logo : Jun Seong Park
        <br>Other Website Dev : Sang Yoon Kim</p>
    <a href="https://www.flaticon.com/kr/free-icons/" title="맑은 아이콘" style="float: right; margin-right: 10px; color: white; font-size: 8pt;">맑은 아이콘  제작자: Freepik - Flaticon</a>
</div>
</body>
</html>
