/* styles.css */

body {
    background-color: white;
    color: black;
    max-width: 400px;
    margin: 0 auto;
    overflow-x: hidden;
}

/* 다크 모드에 대한 스타일 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
    color: black;
  }
}


.fixed-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px; /* 원하는 위치로 조절 가능 */
    right: 20px; /* 원하는 위치로 조절 가능 */
    background-color: #0074D9;
    background-image: url('photo/Wifi.png'); /* 이미지 파일 경로 */
    background-size: 50%; /* 이미지 크기를 버튼에 맞게 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-position: center; /* 이미지 가운데 정렬 */
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999; /* 적절한 큰 숫자로 설정 */
}

/* 클릭된 상태의 스타일 */
.fixed-button.clicked {
    background-image: url('photo/X.png');
}

/* 슬라이드인 메뉴 스타일 */
.slider-menu {
    position: fixed;
    width: 300px;
    height: 60px;
    bottom: 100px;
    right: -300px; /* 초기에 숨겨져 있음 */
    background-color: #FFF;
    color: #000;
    transition: left 0.3s;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 9999; /* 적절한 큰 숫자로 설정 */
/home/ubuntu/GuideForBean/GuideForBean/GuideForBean/GaBean/static/.mobile_styles.css.swp}

/* 내용 스타일 */
.slider-content {
    padding: 8px;
    z-index: 9999; /* 적절한 큰 숫자로 설정 */
}

.logo {
    margin-top: 120px;
    margin-left: 37%;
    margin-bottom: 10px;
}

.logo img {
    max-width: 100px;
}

a {
    text-decoration: none;
    color: #333;
}

/* CSS 코드 */
#menu-container {
    position: fixed;
    top: 0;
    left: 0%;
    padding: 10px;
    z-index: 1000;
}

html.open {
  overflow: hidden;
}

#menu.open {
  left: 0px;
}

.page_cover.open {
  display: block;
}

.btn {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  background-image: url("photo/menu.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.close {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("photo/close.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#menu {
  width: 150px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -202px;
  z-index: 10;
  border: 1px solid #c9c9c9;
  background-color: white;
  text-align: center;
  font-weight: bold;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 40px;
}

#menu a{
 padding:0;
 text-decoration: none;
 font-size: 18px;
 color: #25a4cd;
 display: block;
 transition: 0.3s;
 }

#menu.open {
  left: 0%;
}

.page_cover.open {
  display: block;
}

.page_cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

#menu ul {
    width:190px;
    margin:0;
    padding:0;
    }

#menu ul.nav li {
    position:relative;
    float:left;
    width:100%;
    list-style-type:none;
    font-size:18px;
    }

#menu ul.nav li a {
    display:block;
    width:100%;
    height:100%;
    line-height:50px;
    text-indent:20px;
    text-align: left;
    color:#25a4cd;
    font-weight:bold;
    text-decoration:none;
    }

#menu ul.nav li a:hover {
	background:#eee;
    }

#menu ul.nav li .sub_mobile a {
    position:relative;
    float:left;
    display:block;
    width:100%;
    z-index:999;
    background:#ccc;
	}

#menu ul.nav li .sub_mobile a:hover {
    background:#787878;
    color:#fff;
    z-index:999;
    }

/* 그림과 상세정보 스타일링 */
.marker-description,
.detail-description {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* 양쪽 여백 추가 */
    margin-bottom: 20px; /* 아래 여백 추가 */
    overflow-x: hidden;
}

.detail-description img {
    max-width: 90%;
    margin-right: 20px; /* 이미지와 텍스트 간격 */
    margin-top: 20px;
    display : block;
    margin : auto;
    margin: 10px 0; /* 이미지 위 아래 여백 추가 */
}

.separator {
    border: 1px solid #c0c0c0; /* 선 색깔 설정 */
    margin: 0 auto 20px; /* 위 여백을 0으로 설정하고 가운데 정렬 */
    width: 90%; /* 구분 선의 너비를 조정 */
}

.main-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 10px; /* 위 여백 추가 */
    margin-bottom: 50px;
}

.main-container2 {
    display: flex;
    flex-direction: column; /* 컨테이너의 주 축을 세로(column)로 설정 */
    align-items: center; /* 왼쪽 컨테이너와 높이를 맞춤 */
    justify-content: center; /* 가운데 정렬 */
    margin-top: 10px; /* 위 여백 추가 */
    margin-bottom: 50px;
    margin-left: 30px; /* 왼쪽 여백 추가 */
    margin-right: 34px; /* 오른쪽 여백 추가 */
}

.content-container {
    width: 400px;
    display: flex;
    padding: 0;
    margin: 0;
}

.list-container {
    width: 100%; /* 너비를 100%로 설정 */
    display: flex; /* flex를 활용하여 내부 요소를 가로로 배열 */
    flex-direction: row; /* 요소들을 가로로 배열 */
    justify-content: space-between; /* 요소들 사이에 균등한 간격을 두기 */
    align-items: center; /* 요소들을 세로 방향 중앙에 배치 */
    box-sizing: border-box;
}

.list-container ul {
    width: 300px;
    padding: 0 auto;
}

.list-container li {
    text-align: center;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-container h3 {
    text-align: center;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 40px;
    background-color: #d0d0d0;
    width: 100%;
    height: 60px;
}

.list-container h5 {
    width: 50%;
}

.left-container {
    flex: 0 0 400px; /* 고정된 크기로 설정 */
    max-width: 100%;
    position: relative;
}

.left-container h5 {
    max-width: 100%;
    text-align: center;
    font-size: 16px;
}


#map-container {
    position: relative;
    width: 400px;
    height: 100%;
}

#map-container img {
    margin-top: 40px;
    max-width: 300px;
    height: auto;
}

.right-container {
    margin-top: 40px;
    flex: 0 0 400px; /* 고정된 크기로 설정 */
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-color: #696969;
    margin-left: 10px;
    white-space: pre-line;
    width: 100%; /* 오른쪽 컨테이너의 너비 */
    height: 100%; /* 오른쪽 컨테이너의 높이 */
    overflow: auto; /* 내용이 오버플로우 될 경우 스크롤 표시 */
}

.container-separator {
    margin-top: 30px;
    width: 1px;
    height: 600px; /* 선의 높이 */
    background-color: #ccc;
    margin: 0 20px;
    display: inline-block;
    vertical-align: top;
}

.container-separator2 {
    margin-top: 30px;
    width: 1px;
    height: 900px; /* 선의 높이 */
    background-color: #ccc;
    margin: 0 20px;
    display: inline-block;
    vertical-align: top;
}

.marker-button {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('photo/mapmarker.png');
    background-size: 100%;
    background-repeat: no-repeat;
    clip: rect(auto, auto, auto, auto);
    overflow: visible;
    white-space: nowrap;
    /* 위치 값들을 동적으로 사용하도록 변경 */
    left: var(--left);
    right: var(--right);
    top: var(--top);
    bottom: var(--bottom);
    overflow: hidden;
    border-radius: 100%; /* 50%로 설정하여 동그라미 모양으로 만듭니다 */
}

.marker-button:hover {
    background-color:rgba(211, 211, 211, 0.5);/*까만색(0,0,0) 80% 불투명도*/
}

.marker-button.active {
    background-image: url("photo/mapmarker3.gif"); /* 이미지 경로 설정 */
    background-size: cover; /* 이미지를 버튼 크기에 맞게 조절 */
    color: transparent; /* 텍스트 숨기기 */
}

.marker-description {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    z-index: 1;
}

.detail-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    white-space: nowrap; /* 방지할 경우 */
}

.description-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content : center;
    white-space: pre-line; /* 버튼만 줄바꿈되도록 설정 */
}

.detail-description {
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
    white-space: pre-line;
    display: flex;
    flex-direction: column; /* 수직으로 정렬하도록 수정 */
    align-items: center;
}

.detail-description img {
    max-width: auto; /* 이미지의 최대 너비 */
    margin-right: 20px; /* 이미지와 텍스트 간격 */
    margin-top: 20px;
    display : block;
    margin : auto;
}

.detail-description p {
    text-align: center;
    margin: 0; /* 문단의 여백 제거 */
}

.detail-description h1 {
    text-align: center;
    margin: 0; /* 문단의 여백 제거 */
    color: #000;
    text-decoration: underline;
}

.detail-description h2 {
    text-align: center;
    margin-bottom: 5px; /* 문단의 여백 제거 */
    color: #000;
    text-decoration: underline;
}

.detail-description h3 {
    text-align: center;
    margin: 0; /* 문단의 여백 제거 */
    color: #000;
}

@media (max-width: 768px) {
    .url-button {
        padding: 8px 15px; /* 작은 화면에서 더 작은 크기로 조정 */
        font-size: 12px;
    }
}

/* 검색창 스타일링 */
.search-container {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

#search-input {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#search-button {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search-button img {
    width: 30px; /* 원하는 크기로 조정 */
    height: 30px; /* 원하는 크기로 조정 */
}

/* 검색 결과 버튼 스타일링 */
.search-results {
    display: flex;
    justify-content: center; /* 왼쪽 정렬 */
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.search-results-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    overflow: hidden;
}

.search-result-button {
    display: flex;
    align-items: center; /* 텍스트를 세로 중앙에 정렬 */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
    margin-right: 10px; /* 버튼 사이 간격을 조정 */
}

.search-result-button:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* campusmap style */

.page-title-img {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: start;
    background-image: url("photo/titleimage.jpg"); /* 이미지 경로 설정 */
    background-repeat: no-repeat;
    background-size: cover; /* 이미지를 버튼 크기에 맞게 조절 */
    width: 390px; /* 요소의 너비를 조절 */
    height: 200px; /* 요소의 높이를 조절 */
    overflow: hidden;
}

.list-title {
    margin-bottom: 30px;
    text-align: start;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16pt;
    color: #000;
    background-color: white;
    padding: 10px; /* 추가된 내용: 내용과의 간격 조절 */
    border-bottom: 1px solid #c0c0c0; /* 선 색깔 설정 */
}

.list-title h1 {
    text-align: center;
}

/* humun-food style */

.food-left-container {
    flex: 0 0 1000px; /* 고정된 크기로 설정 */
    max-width: 100%;
    position: relative;
}

#food-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

#food-container img {
    max-width: 70%;
    height: auto;
}

/* CSS 코드 */
.info-bus {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
}

.right-column ul {
    list-style-type: none;
    padding: 0;
}

.right-column li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.right-column h3, .right-column h5 { /* 쉼표로 구분하여 여러 선택자를 지정합니다. */
    margin: 0;
}

.bus-info-container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12pt;
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column; /* 세로 방향으로 나열하도록 설정 */
    align-items: center; /* 가로 중앙 정렬 */
}

.shuttle-info-container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12pt;
    display: flex;
    flex-direction: column; /* 가로 방향으로 나열하도록 설정 */
    justify-content: space-between; /* 왼쪽과 오른쪽으로 정렬 */
    margin-top: 20px; /* 버튼과 페이지 타이틀 이미지 사이 여백 조절 */
}

.left-column {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12pt;
    flex: 1; /* 왼쪽 열이 오른쪽 열의 2배의 공간을 차지하도록 설정 */
    float: left;
}

.right-column {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12pt;
    flex: 1; /* 오른쪽 열이 남은 공간을 모두 차지하도록 설정 */
    float: right;
}

.left-info {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12pt;
    flex: 1; /* 왼쪽 정보 차지하는 비율 조절 (선택 사항) */
}

.right-info {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15pt;
    flex: 1;
    /* 오른쪽 정보에 대한 스타일 추가 */
}

.left-info h1,
.left-info ul,
.right-info h1,
.right-info ul {
    align-items: flex-start;
}

.direction {
    width: 100%; /* 원하는 너비로 조절 */
    margin: 0 auto; /* 가운데 정렬을 위한 여백 설정 */
    padding: 20px; /* 내부 여백 설정 */
}

.button-2-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬을 위한 스타일 추가 */
}

.button-2 {
    width: 120px;
    height: 40px;
    border: 2px solid #34495e;
    text-align: center;
    cursor: pointer;
    position: relative; /* 상대적 위치 설정 유지 */
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 0 20px; /* 필요한 여백 추가 (여기서 왼쪽 여백을 조절) */
    transition: top 0.5s ease, transform 0.5s ease;
}

.button-2 a{
  font-family:arial;
  font-size:13px;
  color:#34495e;
  text-decoration:none;
  line-height:40px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.eff-2{
  width:120px;
  height:40px;
  top:-40px;
  background:skyblue;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}

.button-2:hover .eff-2{
  top:0;
}

.button-2:hover a{
  color:#000;
}

.half_background {
    background: linear-gradient(to top, skyblue 10%, transparent 50%);
}

.restaurant {
    width: 280px; /* 가로로 3개씩 나열하므로 각 요소의 너비는 약 33.33% */
    height: 300px;
    margin: 5px;
    padding: 10px;
    border: 5px solid rgba(6, 186, 242, 0.23);
    float: left; /* 요소들을 왼쪽으로 나열합니다. */
    box-sizing: border-box; /* padding과 border를 요소의 크기에 포함시킵니다. */
}

.filter-buttons {
    width: 100%;
}

.filter-button {
    background-color: rgba(6, 186, 242, 0.23);
    border: 1px solid #000;
}

/* 스위치 레이블 기본 스타일 */
.toggle-label {
  display: block;
  position: relative;
  width: 100px;
  height: 45px;
  background: #d3d3d3;
  border-radius: 60px;
  transition: background 0.4s;
}

/* 스위치 레이블의 원형 표시 부분 */
.toggle-label::after {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  transform: translateY(-50%);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

/* 스위치 레이블의 상태 텍스트 부분 */
.toggle-label::before {
  content: "전체";
  font-size: 16px;
  text-align : end;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
}

/* 체크박스 숨김 */
.hidden-checkbox {
  display: none;
}

/* 스위치가 활성화된 경우의 스타일 */
.hidden-checkbox:checked + .toggle-label {
  background: green;
}

.hidden-checkbox:checked + .toggle-label::after {
  left: calc(100% - 42.5px);
}

.hidden-checkbox:checked + .toggle-label::before {
  content: "영업 중";
  font-size: 13px;
  color: #000;
  left: 13px;
}

.selected {
    background-color: #000; /* 선택된 버튼의 배경색을 변경하세요 */
    color: #fff; /* 선택된 버튼의 글자색을 변경하세요 */
}

/* 초록색 원 스타일 */
.circle.green {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    margin-right: 5px;
}

/* 빨간색 원 스타일 */
.circle.red {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
}

.circle.black {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    margin-right: 5px;
}

/* 초록색 글씨 스타일 */
.status.green {
    color: green;
}

/* 빨간색 글씨 스타일 */
.status.red {
    color: red;
}

.status.black {
    color: black;
}

.random-button {
    display: flex;
    flex-direction: row; /* 가로 방향으로 나열하도록 설정 */
    justify-content: space-between; /* 왼쪽과 오른쪽으로 정렬 */
    margin-top: 20px; /* 버튼과 페이지 타이틀 이미지 사이 여백 조절 */
}

#holder{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
}

.button {
  background: #3D4C53;
  margin : 20px auto;
  width : 200px;
  height : 65px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}

.btnText {
  color : white;
  transition : .3s;
}

.btnText2 {
  margin-top : 53px;
  margin-right : -130px;
  color : #FFF;
}

.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}

.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

#resetButton:hover {
    transform: scale(1.2); /* 버튼 확대 */
}

#resetButton2:hover {
    transform: scale(1.2); /* 버튼 확대 */
}

.btn-container {
    display: inline-block;
    margin-right: 20px; /* 오른쪽 간격 설정 */
    vertical-align: top; /* 상단 정렬 */
    text-align: center;
}

.btn-container:last-child {
    margin-right: 0; /* 마지막 버튼-container에는 오른쪽 간격 없음 */
}

table {
    border-collapse: collapse;
    width: 340px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

tr + tr {
    border-top: 1px solid #ccc;
}

tbody {
    width: 100px;
}

.num-col {
    width: 40px;
    text-align: center;
}

.btn.green {background-color: #9abf7f;}
.color .blue {background: #6698cb;}
.btn-gradient.green:active  {background: #72B08E;}
.btn-gradient.blue:active   {background: #608FBF;}


.btn-gradient {
  text-decoration: none;
  color: white;
  padding: 4px 18px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 2px solid rgba(0,0,0,0.21);
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-gradient.green {
  padding: 8px 20px;
  background: rgba(130,200,160,1);
  background: -moz-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,200,160,1)), color-stop(100%, rgba(130,199,158,1)));
  background: -webkit-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
  background: -o-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
  background: -ms-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
  background: linear-gradient(to bottom, rgba(130,200,160,1) 0%, rgba(124, 185, 149, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0 );
}

.btn-gradient.blue {
  background: rgba(102,152,203,1);
  background: -moz-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,152,203,1)), color-stop(100%, rgba(92,138,184,1)));
  background: -webkit-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
  background: -o-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
  background: -ms-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
  background: linear-gradient(to bottom, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 );
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
    height: 100px;
    overflow: hidden; /* 컨테이너를 넘어가는 내용 가리기 */
}

.image-container {
    width: 100%; /* 이미지 컨테이너의 너비를 원하는 크기(30%)로 설정 */
    text-align: center; /* 이미지 수평 가운데 정렬 */
    overflow: hidden; /* 컨테이너를 넘어가는 내용 가리기 */
    margin-bottom: 0;
}

.image-container img {
    width: 100%; /* 이미지의 너비를 100%로 설정하여 이미지가 이미지 컨테이너의 너비에 맞게 표시 */
    vertical-align: middle;
    overflow: hidden; /* 컨테이너를 넘어가는 내용 가리기 */
}

.home-description {
    text-align: center; /* 이미지 수평 가운데 정렬 */
    margin-bottom: 150px;
    overflow: hidden; /* 컨테이너를 넘어가는 내용 가리기 */
}

.home-traffic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    overflow: hidden; /* 컨테이너를 넘어가는 내용 가리기 */
}

.first-column {
    flex: 1;
    margin-left: 5px;
    align-self: stretch; /* 컨테이너의 높이에 맞게 늘리기 */
    border-right: 1px solid #ddd; /* 목록 창 오른쪽 테두리 추가 */
}

.last-column {
    flex: 1;
    align-self: stretch; /* 컨테이너의 높이에 맞게 늘리기 */
}

.center-column {
    flex: 1;
    align-self: center; /* 세로 중앙 정렬 */
    border-right: 1px solid #ddd; /* 목록 창 오른쪽 테두리 추가 */
}

.first-info,
.center-info,
.last-info {
    flex: 1;
}

.home-direction {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* 수직 레이아웃 유지 */
    overflow: hidden; /* 컨테이너를 넘어가는 내용 가리기 */
}

.footer {
    background-color: black;
    color: white;
    text-align: start; /* 텍스트 중앙 정렬 */
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden; /* 컨테이너를 넘어가는 내용 가리기 */
}

.home-description img:hover {
    transform: scale(1.05); /* 버튼 확대 */
}

.newsButton {
    position: fixed;
    bottom: 170px;
    right: 0px;
    border: none;
    border-radius: 50%;
    width: 60px; /* 버튼의 가로 길이 */
    height: 60px; /* 버튼의 세로 길이 */
    padding: 10px;
    line-height: 1.5; /* 줄 간격 조절 */
    background-color: #8FDB19;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
